<%= simple_form_for @custom_field do |f| %>
  <%= f.input :name %>
  <%= f.input :kind, as: :select, collection: CustomField.kinds.keys, prompt: "Selecione um tipo", input_html: { id: "kind-combobox" }  %>

  <div id="option-wrapper" style="display: none">
	<div class="option-container">
		<div id="option-1">
		  <label for="text-option-1">Opção 1</label>
		  <%= text_field_tag 'custom_field[choices][]', "", id: 'text-option-1' %>
		</div>
    </div>


	<button type="button" id="add-option">Add option</button>
  </div>

  <p/>

  <%= f.submit 'Save' %>
<% end %>

