<div class="columms large-6 large-offset-3">
  <h3>Fields</h3>

  <p><%= flash[:notice] %></p>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Choices</th>
      </tr>
    </thead>
    <tbody>
    <% @custom_fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.kind %></td>
        <td><%= field.choices %></td>
      </tr>
    <% end %>
    </tbody>
  </table>


  <div class="row">
	  <%= will_paginate @custom_fields, class: 'custom-pagination columns large-12', previous_label: "<< Anterior", next_label: "Próximo >>" %>
  </div>

  <div class="row">
	  <div class="columns large-12">
		  <%= link_to "New field", new_custom_field_path, class: 'button' %>
	  </div>
  </div>
</div>
