<%= simple_form_for @contact do |f| %>
  <% if @contact.errors.present? %>
    <div class="alert callout" data-closable>

      <p><%= @contact.errors.full_messages %></p>
      <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <% end %>

  <div class="row">
    <div class="large-8 columns">
      <%= f.input :name %>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <%= f.input :email %>
    </div>
  </div>
  <%= f.simple_fields_for :contact_fields, @contact.contact_fields do |ff| %>
    <%= ff.input :custom_field_id, as: :hidden, input_html: { value: ff.object.custom_field.id} %>
    <%= input_for_field(ff, ff.object.custom_field) %>
  <% end %>


  <%= f.submit "Save", class: "button" %>
<% end %>
