<div class="large-6 large-offset-3 columns">
	<h3>Contacts</h3>
	<p><%= flash[:notice] %></p>
	<table class="hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Options</th>
			</tr>

		</thead>
		<tbody>
			<% @contacts.each do |contact| %>
				<tr>
					<td><%= contact.name %></td>
					<td><%= contact.email %></td>
					<td><%= link_to 'See contact', contact_path(contact) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

	<div class="row">
		<%= will_paginate @contacts, class: 'custom-pagination columns large-12', previous_label: "<< Anterior", next_label: "Próximo >>" %>
	</div>

	<div class="row">
		<div class="columns large-12">
			<%= link_to "New contact", new_contact_path, class: "button" %>
		</div>
	</div>
</div>
