<div class="large-6 large-offset-3 columns">
	<h3>Contacts</h3>
	<p><%= flash[:notice] %></p>
	<table class="hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Opções</th>
			</tr>
		</thead>
		<tbody>
			<% @contacts.each do |contact| %>
				<tr>
					<td><%= contact.name %></td>
					<td><%= contact.email %></td>
					<td><%= link_to 'See contact', contact_path(contact) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= link_to "New contact", new_contact_path, class: "button" %>
</div>
